#home-page {
  align-items: center;
  display: none;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 100px 40px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#home-page.show {
  display: flex;
}

@media (min-width: 576px) {
  #home-page {
    padding: 110px 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 0 100px;
  max-width: 1000px;
}

.heading {
  font-family: var(--title-font);
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  margin: 0 0 15px;
}

.paragraph {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin: 0 0 0 3px;
  text-align: justify;
}

@media (min-width: 768px) {
  .heading {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0 0 25px;
  }

  .paragraph {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}
